<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="hhmhqueuingsystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <hhmhqueuingsystem.My.MySettings>
      <setting name="loggedServerTransaction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="voice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VoiceVolume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VoiceGenderMale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VoiceSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefreshQueueList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showAdvanceError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QRInputDevice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WebCamDevice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isLive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SignaturePadDevice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CounterName" serializeAs="String">
        <value>COUNTER 01</value>
      </setting>
      <setting name="PrevCounterID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrevCounterBoardID" serializeAs="String">
        <value>0</value>
      </setting>
    </hhmhqueuingsystem.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>